<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pods-HexColors.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-LBBlurredImage.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Mantle.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-ReactiveCocoa.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-TSMessages.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>037F652FF0940B3C3453481A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62AC95485DF1436CC39EE624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D0D7ED4ED8EC1B0A435BB6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5395A5FF9D9E5A1A11783E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C60A787556718FC04351C79D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFA0AEF2EB14FF3DA3ADED8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
